*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --section-bg: #EAEFEF;
  --section-heading-bg: #00BBFF;
  --simple-font: Arial, Helvetica, sans-serif;
  --inputs-container-padding: 15px;
  --side-sections-padding: 20px;
}

/* Whole page */
#root {
  min-height: 100vh;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

/* Left side - inputs */
.left-side {
  max-width: 500px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--side-sections-padding);
  gap: 20px;
}

/* Container for general, school and work inputs */
.left-side section {
  background-color: var(--section-bg);
  border-radius: 10px;
  overflow: hidden;
}

/* Header of specific data based on section */
.left-side section h2 {
  background-color: var(--section-heading-bg);
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px;
}

/* Container of several inputs */
.inputs-container {
  padding: var(--inputs-container-padding);
  display: flex;
  flex-direction: column;
  gap: var(--inputs-container-padding);
}

/* Container of label-input pair */
.input-data-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 60%;
  max-width: 80%;
}

/* Bigger space between bigger sections */
.education.inputs-container,
.work.inputs-container {
  gap: calc(var(--inputs-container-padding) * 2);
}

.education.inputs-container > div,
.work.inputs-container > div {
  display: flex;
  flex-direction: column;
  gap: var(--inputs-container-padding);
}

/* HTML form elements */
input {
  width: 15em;
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--section-bg);
}

textarea {
  outline: none;
  border: 1px solid var(--section-bg);
  border-radius: 5px;
  height: 15em;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--section-heading-bg);
}

label {
  font-weight: 550;
}

.add-work-btn {
  display: block;
  margin: auto;
  margin-bottom: var(--side-sections-padding);
  padding: 15px 30px;
  border: 1px solid var(--section-bg);
  background-color: var(--section-heading-bg);
  color: white;
  font-weight: 550;
  border-radius: 10px;
}

.add-work-btn:hover {
  cursor: pointer;
  border: 1px solid var(--section-heading-bg);
  color: var(--section-heading-bg);
  background-color: var(--section-bg);
}

/* Right side - CV */
.right-side {
  flex: 1;
}