*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --section-bg: #EAEFEF;
  --section-heading-bg: #00BBFF;
  --simple-font: Arial, Helvetica, sans-serif;
}

/* Whole page */
#root {
  min-height: 100vh;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

/* Left side - inputs */
.left-side {
  max-width: 500px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.left-side section {
  background-color: var(--section-bg);
  border-radius: 10px;
  overflow: hidden;
}

.left-side section h2 {
  background-color: var(--section-heading-bg);
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px;
}

/* Right side - CV */
.right-side {
  flex: 1;
}